{{template "pageStart.html" .}}
{{range .Properties}}
<div class="thecard">
  <div class="card-img">
    <img src="https://ssl.cdn-redfin.com/photo/1/mbpaddedwide/773/genMid.98773_8.jpg">
  </div>
  <div class="card-caption">
    <span class="date">{{.Date.Format "Monday, January 2, 2006"}}</span>
    <h1>${{.Rent}}/month</h1>
    <p>{{.Address}}</p>
  </div>
  <div class="card-outmore">
    <h5>Details</h5>
    <i id="outmore-icon" class="fas fa-angle-right"></i>
  </div>
</div>
{{end}}
{{template "pageEnd.html" .}}